@charset "utf-8";

@font-face {
    font-family: BMJUA;
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

* {
    box-sizing: border-box
}

html {
    font-family: BMJUA
}

body {
    line-height: 1;
    overflow-x: hidden
}

body, html {
    width: 100%;
    height: 100%
}

body, div, h2, span {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    color: #aaa
}

#welcome {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center
}

#welcome .welcome {
    padding: 10px 50px;
    border-radius: 15px;
    background: #eff0f2;
    -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    -moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    text-shadow: 0 1px 0 #f5f5f5
}

#welcome footer {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%)
}

.entered #welcome {
    display: none
}

#wrapper {
    display: none
}

.entered #wrapper {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    padding: 40px
}

#alert {
    position: relative;
    width: 80%;
    left: 10%;
    background: #ff4d4d;
    color: #fff;
    padding: 2vh 4vh;
    border-radius: 10px;
    text-align: center
}

#alert.sp {
    background: #69f
}

#alert.sp.warning {
    background:#f00
}

#alert a {
    color: #fff
}

#alert a:hover {
    color: #aaa
}

#wrapper .key-info {
    display: flex;
    flex-grow: 1;
    margin: 40px 0;
    flex-wrap: wrap;
    align-content: center
}

#wrapper .key-info>div {
    position: relative;
    display: flex;
    width: 30%;
    height: 15rem;
    margin-bottom: 5%;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .35);
    -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .35);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .35)
}

#wrapper .key-info>div:nth-child(2n) {
    margin-left: 2.5%;
    margin-right: 17.5%
}

#wrapper .key-info>div:nth-child(2n-1) {
    margin-right: 2.5%;
    margin-left: 17.5%
}

#wrapper .key-info>div h2 {
    background: #fcc89b;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem
}

#wrapper .key-info>div h2 a {
    display: inline-block;
    font-size: .75rem;
    line-height: 1.2rem
}

#wrapper .key-info>div .inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center
}

#wrapper .key-info>div .output {
    font-size: 2rem
}

#wrapper .key-info>div .inner.none {
    color: #ccc
}

#wrapper .copybtn {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer
}

#wrapper .copybtn svg {
    width: 1rem;
    height: 1rem;
    fill: #000
}

#wrapper .copybtn svg:hover {
    fill: #aaa
}

@media screen and (min-width:1600px) {
    #wrapper .key-info {
        padding: 0 10%
    }

    #alert {
        width: 52%;
        left: 24%
    }
}

@media screen and (max-width:980px) {
    #wrapper #alert {
        width: 100%;
        left: 0
    }

    #wrapper .key-info>div {
        width: 100%
    }

    #wrapper .key-info>div:nth-child(2n), #wrapper .key-info>div:nth-child(2n-1) {
        margin: 0;
        margin-bottom: 5%
    }
}

#pop {
    position: fixed;
    bottom: 10px;
    left: 50%;
    padding: 10px 40px;
    background: rgba(18, 18, 18, .5);
    border-radius: 15px;
    color: #fff;
    transform: translate(-50%, 10px);
    visibility: hidden;
    opacity: 0;
    transition: transform .5s, visibility .5s, opacity .5s
}

#pop.reveal {
    transform: translate(-50%, 0);
    visibility: visible;
    opacity: 1
}

#input {
    position: absolute;
    right: 300vw
}

footer {
    text-align: center
}